<table>
    <thead>
        <tr>
            @for (header of headers(); track $index) {
            <th (click)="sort($index)">{{header}}
                <span [class.hidden]="sortColumn !== $index" class="arrow" [class.asc]="sortDirection === 'asc'"></span>
            </th>
            }
        </tr>
    </thead>
    <tbody>
        @for (row of rows; track $index) {
        <tr>
            @for (cell of row; track $index){
            <td>{{cell}}</td>
            }
        </tr>
        }
    </tbody>
</table>